body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #424242;
}

.offer  {
  margin-right: auto; 
  margin-left:  auto;
  width: 1400px;
  padding-right: 10px;
  padding-left:  10px;
}

.header {
  display: flex;
  background: #f0f2f4;
  height: 43px;
  border-bottom: 1px solid #e9eaeb;
  justify-content: flex-end;
}

.header-contact {
  display: flex;
  align-items: center;
  font-weight: bold;
}

#border-left {
  border-left: 1px solid #e9eaeb;
}

.phone-img {
  margin-right: 11px;
}

.phone-number {
  padding-right: 20px;
}

.mail-img {
  margin-left: 20px;
}

.color-bg-fb {
  width: 27px;
  height: 27px;
  background-color: #1287bf;
  border-radius: 5px;
  text-align: center;
  margin-right: 190px;
}

.email {
  margin: 0 11px 0 15px;
}

.fb-icon {
  padding: 5px 5px;
}


