body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #424242;
}

a {
  text-decoration: none;
  color: #424242;
}

.offer  {
  margin-right: auto; 
  margin-left:  auto;
  width: 1400px;
  padding-right: 10px;
  padding-left:  10px;
}

.header {
  display: flex;
  background: #f0f2f4;
  height: 43px;
  border-bottom: 1px solid #e9eaeb;
  justify-content: flex-end;
}

.header-contact {
  display: flex;
  align-items: center;
  font-weight: bold;
}

#border-left {
  border-left: 1px solid #e9eaeb;
}

.phone-img {
  margin-right: 11px;
}

.phone-number {
  padding-right: 20px;
}

.mail-img {
  margin-left: 20px;
}

.color-bg-fb {
  width: 27px;
  height: 27px;
  background-color: #1287bf;
  border-radius: 5px;
  text-align: center;
  margin-right: 165px;
}

.email {
  margin: 0 11px 0 15px;
}

.fb-icon {
  padding: 5px 5px;
}

.main-menu {
  margin-top: 43px;
}

.wrapper {
  margin: 0 auto;
  width: 1024px;
}

.section {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  align-items: center;
}

.logo img {
  margin-top: 10px;
  margin-right: 11px;
  width: 70px;
  height: 40px;
}

.main-text {
  padding: 0;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
}

.logo-text {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.menu {
 display: flex;
}

.main-menu-item {
  margin-left: 190px;
  display: flex;
  justify-content: right;
  font-weight: bold;
  font-size: 16px;
}

.first {
  margin-right: 25px;
  list-style: none;
}

.point {
  margin-right: 25px;
}

.btn {
  background: #de2b24;
  color: #fff;
  border: none;
  width: 167px;
  height: 35px;
  font-size: 16px;
  padding: 5px 5px;
  margin-left: 32px;
  border-radius: 6px; 
}

.main-window {
  background: url("img/main-picture.png") no-repeat;
  margin-top: 45px;
  text-align: center;
  padding-bottom: 220px;
}

.action-text {
  color: #fff;
  font-size: 65px;
  padding-top: 170px;
}

.some-text {
  font-size: 14px;
}
 
.main-window .btn {
  text-transform: uppercase;
  width: 340px;
  height: 75px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 32px;
  background-color: #f8cd53;
}

.about-us {
  text-align: center;
  padding-top: 100px;
  width: 925px;
  margin: 0 auto;
}

.main-about-us {
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
}

.main-about-text {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 18px;
}

.stripe {
  margin: 0 auto;
  border: 2px solid #000;
  width: 35px;
  margin-bottom: 47px;
} 

.blocks {
  display: flex;
  justify-content: center;
  text-align: center;
}

.block-content {
  margin-right: 35px;
  width: 250px;
}

.block-content-end {
  width: 250px;
  padding-bottom: 123px;
}

.block-content h2 {
  font-size: 22px;
}

.block-content-end h2 {
  font-size: 22px;
}

.approuch {
  display: flex;
  background: #f3f3f3;
  padding-top: 90px;
}

.first-step-left {
  display: flex;
  background: url('img/photo.png');
  height: 237px;
  margin-bottom: 40px;
}

.step-number-left {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 65px 0px 0px 290px;
  width: 100px;
  height: 100px;
  background: #de2b24;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  font-size: 50px;
  font-weight: bold;
}

.number-text {
  margin: -11px;
  font-size: 20px;
  font-weight: normal;
}

.steps-text-headline-left {
  margin: auto;
  margin-left: 35px;
  width: 555px;
  font-weight: bold;
}

.step-text-left {
  font-size: 14px;
  font-weight: normal;
}

.second-step-right {
  display: flex;
  background: url('img/road.png');
  height: 237px;
  margin-bottom: 40px;
}


.step-number-right {
  margin: auto;
  margin-right: 280px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 100px;
  height: 100px;
  background: #de2b24;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  font-size: 50px;
  font-weight: bold;
}

.steps-text-headline-right {
  text-align: right;
  margin: auto;
  margin-right: -20px;
  width: 555px;
  font-weight: bold;
}

.step-text-right {
  font-size: 14px;
  font-weight: normal;
}

.third-step-left {
  display: flex;
  background: url('img/cafe.png');
  height: 237px;
  margin-bottom: 40px;
}

.quarter-step-right {
  display: flex;
  background: url('img/work-desk.png');
  height: 237px;
  margin-bottom: 133px;
}

.our-work {
  display: flex;
  background: #de2b24;
  padding-top: 133px;
  color: #fff;
}

.our-work .stripe {
  border: solid #fff;
}

